Repository Ldude162/AP-CSP, changes with the labels that .github/labeler.yml gives for each.
All labels: School, FreeTime

.github/labeler.yml:

School:
- Unit-1/1.1/**/*
FreeTime:
- Free-time/*

Maze 1
  Unit-1/1.1/1.1.5/maze1.png
  Unit-1/1.1/1.1.5/maze2.png
  Unit-1/1.1/1.1.5/maze3.png
  Unit-1/1.1/1.1.5/robot.gif
  Unit-1/1.1/1.1.5/robot_maze_1.py
Labels: School

maze 2 and 3
  Unit-1/1.1/1.1.5/robot_maze_2.py
  Unit-1/1.1/1.1.5/robot_maze_3.py
Labels: School

Added loganTest.py!
  Unit-1/1.1/Code/loganTest.py
Labels: School

added fuuuuuuudg
  Unit-1/1.1/Code/loganTest.py
Labels: School

Fixed buggy image
  Unit-1/1.1/1.1.6/a116_buggy_image.py
Labels: School

Finished basic stuff
  Unit-1/1.1/1.1.6/a115_ladybug.py
  Unit-1/1.1/1.1.6/algorithmFix.py
  Unit-1/1.1/1.1.6/changedVars.py
  Unit-1/1.1/1.1.6/commentedBuggyImage.py
  Unit-1/1.1/Pictures/ladybug.png
  Unit-1/1.1/Pictures/spooder.png
Labels: School

good spooder
  Unit-1/1.1/1.1.6/advancedSpooder.py
  Unit-1/1.1/Pictures/betterSpooder.png
Labels: School

Reorganised repository
  Unit-1/1.1/1.1.1/1.1.1.py
  Unit-1/1.1/1.1.2/1-1-2_LR_21.py
  Unit-1/1.1/1.1.3/1.1.3.py
  Unit-1/1.1/1.1.4/1.1.4-6.py
  Unit-1/1.1/1.1.4/1.1.4-9b.py
  Unit-1/1.1/1.1.4/a114_nested_loop_3.py
  Unit-1/1.1/Code/loganTest.py
Labels: School

Create a117_traversing_turtles.py
  Unit-1/1.1/1.1.7/a117_traversing_turtles.py
Labels: School

Create 1.1.7 color circle turtle thing.png
  Unit-1/1.1/Pictures/1.1.7 color circle turtle thing.png
Labels: School

worked on thing
  Unit-1/1.1/1.1.8/a118_grades.py
  Unit-1/1.1/1.1.8/a118_turtles_in_traffic.py
Labels: School

Finished turtles in traffic
  .replit
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic.py
Labels: School

Added 1.1.7 and 1.1.8 document
  Unit-1/1.1/Documents/Linus R 1.1.7_1.1.8 for loops and lists.pdf
Labels: School

edited ingfinder, .replit, and made a better version of turtles in traffic
  .breakpoints
  .replit
  Free-time/ingFinder.py
  Free-time/test.txt
  Unit-1/1.1/1.1.8/turtlesInTraffic2.py
Labels: School, FreeTime

Commented turtles in traffic 2, ready to turn in if needed.
  Unit-1/1.1/1.1.8/turtlesInTraffic2.py
Labels: School

changed turtles in traffic 2 file name
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic2.py
Labels: School

you saw nothing
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic2.py
Labels: School

e
  Unit-1/1.1/1.1.8/a118_grades.py
  Unit-1/1.1/1.1.8/a118_turtles_in_traffic.py
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic.py
  Unit-1/1.1/1.1.8/turtlesInTraffic2.py
Labels: School

reeeeeeeeeeeeeeeeeename
  Unit-1/1.1/1.1.8/loganK_118turtlesInTraffic.py
Labels: School

added period
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic2.py
Labels: School

reverted
  Unit-1/1.1/1.1.8/a118_grades.py
  Unit-1/1.1/1.1.8/loganK_118turtlesInTraffic.py
Labels: School

reverted2
  Unit-1/1.1/1.1.8/a118_turtles_in_traffic.py
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic.py
  Unit-1/1.1/1.1.8/linusR_118turtlesInTraffic2.py
Labels: School

Moved 1.1.2 challenge
  Unit-1/1.1/1.1.2/1.1.2-Challenge.py
Labels: School

Balanced game test
  Free-time/game-test.py
Labels: FreeTime

removed .breakpoints
  .breakpoints
Labels: none

Removed .breakpoints
  .breakpoints
Labels: none

Added 1.2.1 section
  Unit-1/1.2/1.2.1/1.2.1.py
  Unit-1/1.2/Documents/placeholder.txt
Labels: none

Worked on 1.2.1
  Unit-1/1.2/1.2.1/1.2.1.py
  Unit-1/1.2/1.2.1/LinusR_LoganK121.py
Labels: none

Finished 1.2.1
  .replit
  Unit-1/1.2/1.2.1/LinusR_LoganK121.py
Labels: none

Added docstring
  Unit-1/1.2/1.2.1/LinusR_LoganK121.py
Labels: none

changed timer
  Unit-1/1.2/1.2.1/LinusR_LoganK121.py
Labels: none

added 1.2.1 doc
  Unit-1/1.2/Documents/Linus R. 1.2.1 Catch a Turtle making functions, events, randomness.pdf
  Unit-1/1.2/Documents/placeholder.txt
Labels: none

Worked on 1.2.2
  Unit-1/1.2/1.2.2/122.py
  Unit-1/1.2/1.2.2/__pycache__/leaderboard.cpython-39.pyc
  Unit-1/1.2/1.2.2/a122_leaderboard.txt
  Unit-1/1.2/1.2.2/leaderboard.py
Labels: none

worked on 1.2.2
  .replit
  Unit-1/1.2/1.2.2/__pycache__/leaderboard.cpython-38.pyc
  Unit-1/1.2/1.2.2/__pycache__/linus122.cpython-38.pyc
  Unit-1/1.2/1.2.2/a122_leaderboard.txt
  Unit-1/1.2/1.2.2/leaderboard.py
  Unit-1/1.2/1.2.2/linus122.py
  Unit-1/Documents/Linus R. 1.2.1 Catch a Turtle making functions, events, randomness.pdf
  leaderboard.txt
Labels: none

finished 1.2.2
  Unit-1/1.2/1.2.2/__pycache__/leaderboard.cpython-39.pyc
  Unit-1/1.2/1.2.2/leaderboard.py
  Unit-1/1.2/1.2.2/linusR_loganK_122.py
  leaderboard.txt
Labels: none

Added docstring
  Unit-1/1.2/1.2.2/leaderboard.py
  Unit-1/1.2/1.2.2/linusR_loganK_122.py
Labels: none

Working on 1.2.3
  Unit-1/1.2/1.2.3/apple.gif
  Unit-1/1.2/1.2.3/background.gif
  Unit-1/1.2/1.2.3/main.py
  Unit-1/1.2/1.2.3/pear.gif
  Unit-1/1.2/1.2.3/todo.py
Labels: none

Create pylint.yml
  .github/workflows/pylint.yml
Labels: none

Delete pylint.yml
  .github/workflows/pylint.yml
Labels: none

working on 1.2.3
  Unit-1/1.2/1.2.3/main.py
Labels: none
